h1 {font-size: 160%;
}

h1 {text-align: center;
}
h1 {color: chocolate;
}
h2 {text-align: center;
}
h3 {text-align: center;
}









#golden1 {margin-left: 35%;
}
#golden1 {width: 30%;
}
#golden2 {margin-left: 35%;
}
#golden2 {width: 30%;
}
